/* ___________CUSTOME CLASSES___________ */
a {
    text-decoration: none;
    font-size: 15px;
    color: var(--secondary-color);
}

.heading {
    font-size: 40px;
    color: var(--hover-color);
    font-weight: 700;
    text-align: center;
    margin-top: 100px;
}

.span {
    color: #3f3a3a;
    padding: 0 0 5px;
    font-size: 40px;
    font-weight: 700;

}

.sub-span {
    color: #3f3a3a;
    font-size: 20px;
    font-weight: 700;

}

.card-heading {
    color: var(--hover-color);
    font-size: 18px;
}

.card-sub-heading {
    font-size: 13px;
    color: #3f3a3a;
    padding: 2px 0;
}


@media (1024px <=width <=1440px) {


    /* Navbar */

    .logo {
        margin-left: 50px;
    }

    .navbar .ul {
        gap: 35px;
        margin-left: 300px;
    }

    /*
    ============================================= 
                Intro Section  
    =============================================
    */


    .intro {
        padding: 100px 50px;
    }

    .intro .container {
        padding: 20px;
        width: 100%;
    }

    .intro .content {
        width: 60%;
        padding: 10px 0;
    }

    .intro .container h1 {
        font-size: 60px;
    }

    /*
    ============================================= 
                Service Section  
    =============================================
    */


    .services-section .extra-info {
        top: -80px;
    }

    /* *******SKILL********** */

    .services-section .skill {
        justify-content: center;

    }

    .services-section .skill-card {
        flex: 1;
        height: 250px;
        flex-wrap: wrap;
        padding: 10px 20px;
    }

    .services-section .skill-card .skill-content h3,
    p {
        padding: 10px 0;
    }

    /*
    ============================================= 
                Project Section  
    =============================================
    */

    .project-card {
        justify-content: space-around;
        width: 100%;
        margin-top: 50px;
        gap: 30px;
    }

    .singel-project {
        margin-bottom: 50px;
        height: 220px;
        width: 25%;
    }

    /*
    ============================================= 
                Contact Section  
    =============================================
    */



    .contact-us-section .info .fa-solid {
        padding: 25px;
    }

    .contact-us-section .info .socail-icons {
        gap: 20px;
    }

    .contact-us-section .form .btn {
        width: 25%;
    }


    .footer-section .sub-footer {
        background: var(--hover-color);
        text-align: center;
        padding: 1px 0;
        color: var(--primary-color);
        font-size: 12px;
    }


}

/* ___________________TABLET_____________________ */

@media (900px <=width <=1024px) {


    .navbar .ul {
        gap: 35px;
        margin-left: 150px;
    }

    /*
    ============================================= 
                Service Section  
    =============================================
    */

    .services-section .extra-info {
        top: -80px;
    }

    /* *******SKILL********** */


    .services-section .skill-card {
        width: 45%;
        flex-wrap: wrap;
        padding: 20px;
    }

    .services-section .skill-card .skill-content h3,
    p {
        padding: 10px 0;
    }

    /*
    ============================================= 
                Project Section  
    =============================================
    */

    .project-card {
        justify-content: space-around;
        width: 100%;
        margin-top: 50px;
    }

    .singel-project {
        margin-bottom: 50px;
        height: 220px;
        width: 25%;
    }


    /*
    ============================================= 
                Contact Section  
    =============================================
    */

    .contact-us-section .info .fa-solid {
        padding: 22px;
    }

    .contact-us-section .form .btn {
        width: 35%;
    }

    /*
    ============================================= 
                Footer Section  
    =============================================
    */

    .footer {
        width: 95%;
        justify-content: space-between;
    }


    .footer ul {
        gap: 20px;
    }

    .footer-section .sub-footer {
        background: var(--hover-color);
        color: var(--primary-color);
        font-size: 12px;
    }

}


/* _________________TABLET VERSION____________ */

@media (768px <=width <=900px) {

    .intro {
        padding: 100px 50px;
        /* border: 2px solid red; */
    }

    .logo {
        margin: 0;
    }

    .navbar .ul {
        gap: 35px;
        margin-left: 100px;
    }

    .services-section .extra-info {
        margin-top: 50px;
        top: -80px;
    }

    .intro .container {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    /* *******SKILL********** */


    .services-section .skill-card {
        width: 45%;
        height: 150px;
    }

    /*
    ============================================= 
    Project Section  
    =============================================
    */

    .project-card {
        justify-content: space-between;
        width: 100%;
        margin-top: 10px;
    }

    .singel-project {
        margin-bottom: 50px;
        height: 220px;
        width: 30%;
    }

    /*    
    ============================================= 
    Resume Section  
    =============================================
    */

    .resume-section {
        margin-top: 20px;
    }

    .qualification {
        justify-content: space-between;
        margin-top: 30px;
    }

    .fa-user-graduate,
    .fa-briefcase {
        font-size: 27px;
        color: var(--hover-color);
    }


    .resume-section .qualification .content {
        padding: 10px;
    }

    .resume-section .qualification .card-heading {
        font-size: 20px;
    }

    .resume-section .qualification .content::before {
        height: 62px;
        top: 20px;
        left: -8px;
    }


    .resume-section .qualification .content .card-sub-heading {
        font-size: 14px;
        padding: 5px 0;
    }

    .resume-section .qualification .content p {
        font-size: 14px;
        padding: 5px 0 1px;
    }

    .resume-section .btn-container {
        margin-top: 10px;
        padding: 10px 0;
    }

    /*
    ============================================= 
                About Section  
    =============================================
    */


    .about-section .about-me .image {
        flex: 1;
    }

    .about-section .about-me .my-intro {
        flex: 3;
    }

    .about-me .my-intro .personal-data {
        gap: 30px;
    }

    .about-me .my-intro .card-sub-heading {
        font-size: 16px;
    }

    .about-me .my-intro p {
        font-size: 14px;
    }

    hr {
        display: none;
    }

    /*
    ============================================= 
                Contact Section  
    =============================================
    */

    .contact-us-section .wrapper {
        width: 95%;
        gap: 0;

    }

    .contact-us-section .map iframe {
        height: 300px;
    }

    .form-content {
        justify-content: space-between;
        padding: 10px 0 !important;
        gap: 10px !important;
        margin-top: 30px;
    }



    .contact-us-section .info .Singel-info {
        padding: 0;
        gap: 10px;
    }

    .contact-us-section .info .fa-solid {
        font-size: 14px;
        margin-top: 4px;
    }


    .contact-us-section .info .socail-icons .fa-brands {
        font-size: 18px;
    }

    .contact-us-section .form .btn {
        width: 25%;
    }

    /*  ============================================= 
        Footer Section  
         =============================================
    */

    .footer {
        gap: 30px;
        flex-direction: column;
    }


    .footer ul {
        gap: 30px;
    }



}


/* _________________Mobile  VERSION____________ */
@media (425px <=width <=768px) {

    .logo {
        margin: 0;
    }

    .navbar {
        width: 100%;
        position: relative;
    }


    .navbar ul li a {
        color: var(--primary-color);
    }

    .navbar .ul {
        position: absolute;
        z-index: 9999;
        background-color: var(--hover-color);
        margin-left: 0;
        width: 100%;
        height: 100vh;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        top: 64px;
        left: -100%;
        transition: 0.4s;

    }

    .fa-bars {
        display: block !important;
        border: none !important;
        font-size: 30px !important;
    }

    /*
    ============================================= 
                Intro Section  
    =============================================
    */


    .intro {
        padding: 100px 0;
        /* border: 2px solid red; */
    }

    .intro .container {
        width: 90%;
    }

    .intro .content {
        text-align: center;
        padding: 10px 0;
    }

    .intro .container h1 {
        font-size: 40px;
    }


    /*
    ============================================= 
    Services Section  
    =============================================
    */

    .services-section .extra-info {
        background-color: var(--hover-color) !important;
        top: -100px;
        left: 0;
        width: 100%;
        padding: 0;
        box-shadow: none;
    }

    .services-section .singel-info {
        flex-direction: column;
        height: 150px;
        justify-content: center;
    }

    #card-sub-heading,
    #card-heading {
        color: var(--primary-color);
    }

    .fa-medal,
    .fa-list-check,
    .fa-headset {
        color: var(--primary-color) !important;
        border-color: var(--primary-color) !important;
    }

    .services-section .singel-info .fa-solid {
        font-size: 22px;
        padding: 10px;
    }

    .services-section .singel-info .job-experiance {
        padding: 10px;
    }

    .services-section .singel-info h3 {
        font-size: 15px;
        padding: 0;
    }

    .services-section .singel-info h5 {
        padding: 5px 0;
        font-size: 12px;
        text-align: center;
    }


    /* *******SKILL********** */

    .services-section .skill {
        justify-content: space-evenly;
        padding: 0;
    }

    .services-section .skill-card {
        width: 250px;
        height: 220px;
        flex-wrap: wrap;
        text-align: center;
    }

    .services-section .skill-card {
        justify-content: center;
    }

    .services-section .skill-card .skill-content h3,
    p {
        padding: 10px 0;
    }

    .services-section .skill-card:hover {
        box-shadow: 1px 1px 3px #7540b375;
        border-bottom: 3px solid var(--hover-color);
        border-left: none;

    }

    .services-section .skill-card .fa-solid,
    .fa-python,
    .fa-js {
        font-size: 50px;
        color: var(--hover-color);
        padding: 10px;
    }

    /*
    ============================================= 
    Project Section  
    =============================================
    */

    .project-section .projects ul {
        /* border: 1px solid black; */
        gap: 40px;
        padding: 10px 0;
        margin-top: 20px;
    }

    .project-card {
        /* padding: 20px 0; */
        display: flex;
        width: 100%;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 50px;
    }

    .singel-project {
        /* border: 2px solid red; */
        border-radius: 10px;
        width: 150px;
        height: 180px;
    }


    /*    
    ============================================= 
    Resume Section  
    =============================================
    */

    .resume-section {
        margin-top: 20px;
        width: 100% !important;
    }

    .education-block,
    .experiance-block {
        width: 100%;
    }

    .qualification {
        flex-direction: column;
        justify-content: flex-start;
        gap: 20px;
    }

    .ed-block {
        justify-content: flex-start;
    }

    .resume-section .qualification .content::before {
        content: ' ';
        height: 32px !important;
        top: 50px !important;
    }

    .fa-user-graduate,
    .fa-briefcase {
        font-size: 27px;
        color: var(--hover-color);
    }


    .resume-section .qualification .content {
        padding: 10px;
    }

    .resume-section .qualification .card-heading {
        font-size: 20px;
    }

    .resume-section .qualification .content::before {
        height: 62px;
        top: 20px;
        left: -8px;
    }


    .resume-section .qualification .content .card-sub-heading {
        font-size: 14px;
        padding: 5px 0;
    }

    .resume-section .qualification .content p {
        font-size: 14px;
        padding: 5px 0 1px;
    }

    .resume-section .btn-container {
        margin-top: 10px;
        padding: 10px 0;
    }

    /*
    ============================================= 
                About Section  
    =============================================
    */


    .about-me {
        flex-direction: column;
    }

    .about-section .about-me .my-intro {
        width: 100%;
        padding: 10px;
    }



    /*
    ============================================= 
                Contact Section  
    =============================================
    */

    .contact-us-section .wrapper {
        width: 95%;
        gap: 0;

    }

    .contact-us-section .map iframe {
        height: 300px;
    }

    .contact-us-section .form-content {
        display: flex;
        flex-direction: column;
    }



    .contact-us-section .info {
        padding: 0;
        gap: 10px;
        align-items: center;
    }

    .contact-us-section .info .Singel-info {
        width: 100%;
        gap: 10px;
        flex-direction: column;
        align-items: center;
    }


    .singel-info-content {
        text-align: center;
    }

    .contact-us-section .info .socail-icons {
        gap: 20px;
    }

    .singel-info-content .card-sub-heading {
        font-size: 16px;
        padding: 0;
    }

    .singel-info-content p {
        padding: 10px 0;
        font-size: 15px;
    }



    .contact-us-section .form .btn {
        width: 35%;
    }

    /*  ============================================= 
        Footer Section  
         =============================================
    */

    .footer {
        width: 100%;
        gap: 30px;
        flex-direction: column;
    }


    .footer ul {
        gap: 10px;
    }



}

/* _________________Mobile  VERSION____________ */
@media (375px <=width <=425px) {

    /* Utilites Classes */
    .heading {
        font-size: 35px;
        margin-top: 30px;
    }

    .span {
        font-size: 35px;
    }

    /* ____________ */
    .logo {
        margin: 0;
    }

    .navbar {
        width: 100%;
        position: relative;
        z-index: 2;
    }

    .navbar ul li a {
        color: var(--primary-color);
    }

    .navbar .ul {
        position: absolute;
        background-color: var(--hover-color);
        margin-left: 0;
        padding: 5  0px 0;
        width: 100%;
        justify-content: start;
        align-items: center;
        flex-direction: column;
        top: 64px;
        left: -100%;
        transition: 0.4s;
        z-index: 9999;
        gap: 30px;
    }

    .fa-bars {
        display: block !important;
        border: none !important;
        font-size: 30px !important;
    }

    /*
    ============================================= 
                Intro Section  
    =============================================
    */


    .intro {
        padding: 100px 0;
        /* border: 2px solid red; */
    }

    .intro .container {
        width: 90%;
    }

    .intro .content {
        text-align: center;
        padding: 10px 0;
    }

    .intro .container h1 {
        font-size: 40px;
    }


    /*
    ============================================= 
    Services Section  
    =============================================
    */

    .services-section .extra-info {
        background-color: var(--hover-color);
        top: -100px;
        left: 0;
        width: 100%;
        padding: 0;
        box-shadow: none;

    }

    .services-section .singel-info {
        flex-direction: column;
        height: 150px;
        justify-content: center;
    }


    .services-section .singel-info .fa-solid {
        font-size: 22px;
        padding: 10px;
        border-color: var(--primary-color) !important;
        color: var(--primary-color);
    }

    .services-section .singel-info .job-experiance {
        padding: 10px;
    }

    .services-section .singel-info h3 {
        font-size: 15px;
        padding: 0;
        color: var(--primary-color);
    }

    .services-section .singel-info h5 {
        color: var(--primary-color);
        padding: 5px 0;
        font-size: 12px;
        text-align: center;
    }


    /* *******SKILL********** */

    .services-section .skill {
        justify-content: space-evenly;
        padding: 0;
    }

    .services-section .skill-card {
        width: 250px;
        height: 220px;
        flex-wrap: wrap;
        text-align: center;
    }

    .services-section .skill-card {
        justify-content: center;
    }

    .services-section .skill-card .skill-content h3,
    p {
        padding: 10px 0;
    }

    .services-section .skill-card:hover {
        box-shadow: 1px 1px 3px #7540b375;
        border-bottom: 3px solid var(--hover-color);
        border-left: none;

    }

    .services-section .skill-card .fa-solid,
    .fa-python,
    .fa-js {
        font-size: 50px;
        color: var(--hover-color);
        padding: 10px;
    }

    /*
    ============================================= 
    Project Section  
    =============================================
    */

    .project-section .projects ul {
        /* border: 1px solid black; */
        gap: 40px;
        padding: 10px 0;
        margin-top: 20px;
    }

    .project-card {
        /* padding: 20px 0; */
        display: flex;
        width: 100%;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 50px;
    }

    .singel-project {
        /* border: 2px solid red; */
        border-radius: 10px;
        width: 150px;
        height: 180px;
    }


    /*    
    ============================================= 
    Resume Section  
    =============================================
    */

    .resume-section {
        margin-top: 20px;
        width: 100% !important;
    }

    .education-block,
    .experiance-block {
        width: 100%;
        padding-bottom: 20px;
        border-bottom: 1px solid var(--hover-color);
    }

    .qualification {
        flex-direction: column;
        gap: 20px;
    }

    .ed-block {
        justify-content: flex-start;
    }

    .resume-section .qualification .content::before {
        content: ' ';
        height: 62px !important;
        top: 20px !important;
    }

    .fa-user-graduate,
    .fa-briefcase {
        font-size: 27px;
        color: var(--hover-color);
    }


    .resume-section .qualification .content {
        padding: 10px;
    }

    .resume-section .qualification .card-heading {
        font-size: 20px;
    }

    .resume-section .qualification .content::before {
        height: 72px !important;
        top: 22px !important;
        left: -8px;
    }


    .resume-section .qualification .content .card-sub-heading {
        font-size: 16px !important;
        font-weight: 800;
        padding: 5px 0;
        font-weight: 800;
    }

    .resume-section .qualification .content p {
        font-size: 17px;
        padding: 5px 0 4px;
    }

    .resume-section .btn-container {
        margin-top: 10px;
        padding: 10px 0;
    }

    /*
    ============================================= 
                About Section  
    =============================================
    */


    .about-me {
        flex-direction: column;
        width: 100%;
    }

    .about-section .about-me .my-intro {
        width: 100%;
        padding: 20px;
    }

    .about-me .my-intro .intrest .hobbies {
        gap: 30px;
    }



    /*
    ============================================= 
                Contact Section  
    =============================================
    */

    .contact-us-section .wrapper {
        width: 95%;
        gap: 0;

    }

    .contact-us-section .map iframe {
        height: 300px;
        margin-bottom: 30px;
    }

    .contact-us-section .form-content {
        display: flex;
        flex-direction: column;
        padding: 0;
    }



    .contact-us-section .info {
        padding: 0;
        gap: 10px;
        align-items: center;
    }

    .contact-us-section .info .Singel-info {
        width: 100%;
        gap: 10px;
        flex-direction: column;
        align-items: center;
    }


    .singel-info-content {
        text-align: center;
    }

    .contact-us-section .info .socail-icons {
        gap: 20px;
    }

    .singel-info-content .card-sub-heading {
        font-size: 16px;
        padding: 0;
    }

    .singel-info-content p {
        padding: 10px 0;
        font-size: 15px;
    }

    .contact-us-section .form {
        flex-direction: column;
        width: 100%;
    }

    .contact-us-section .form .input-cells {
        flex-direction: column;
        gap: 20px;
    }

    .contact-us-section .form .input-cells input {
        width: 100%;
    }


    .contact-us-section .form .btn {
        width: 45%;
    }

    /*  ============================================= 
        Footer Section  
         =============================================
    */

    .footer {
        width: 100%;
        gap: 30px;
        flex-direction: column;
        align-items: center;
    }

    .footer ul::before,
    .footer ul::after {
        content: ' ';
        width: 150px;
        height: 1px;
        left: 0;
        background: var(--hover-color);

    }

    .footer ul {
        gap: 10px;
        flex-direction: column;
    }

}

/* _________________Mobile  VERSION____________ */
@media (320px <=width <=375px) {


    /* Utilites Classes */
    .heading {
        font-size: 35px;
        margin-top: 30px;
    }

    .span {
        font-size: 35px;
    }

    /* ____________ */

    .logo {
        margin: 0;
    }

    .navbar {
        width: 100%;
    }

    .navbar ul li a {
        color: var(--primary-color);
    }

    .navbar .ul {
        position: absolute;
        background-color: var(--hover-color);
        margin-left: 0;
        width: 100%;
        height: 100vh;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        top: 64px;
        left: -100%;
        transition: 0.4s;

    }

    .navbar .ul {
        gap: 0;
        margin-left: 0;
        display: none;
    }

    .fa-bars {
        display: block !important;
        border: none !important;
        font-size: 30px !important;
    }

    /*
    ============================================= 
                Intro Section  
    =============================================
    */


    .intro {
        padding: 50px 0 100px;
    }

    .intro .container {
        width: 90%;
    }

    .intro .content {
        text-align: center;
        padding: 10px 0;
    }

    .intro .container h1 {
        font-size: 40px;
    }


    /*
    ============================================= 
    Services Section  
    =============================================
    */

    .services-section .extra-info {
        background-color: var(--hover-color) !important;
        top: -100px;
        left: 0;
        width: 100%;
        padding: 0;
        box-shadow: none;
    }

    .services-section .singel-info {
        flex-direction: column;
        height: 150px;
        justify-content: center;
    }





    .services-section .singel-info .fa-solid {
        font-size: 22px;
        padding: 10px;
        border-color: var(--primary-color);
        color: var(--primary-color);
    }

    .services-section .singel-info .job-experiance {
        padding: 10px;
    }

    .services-section .singel-info h3 {
        color: var(--primary-color);
        font-size: 15px;
        padding: 0;
    }

    .services-section .singel-info h5 {
        color: var(--primary-color);
        padding: 5px 0;
        font-size: 12px;
        text-align: center;
    }


    /* *******SKILL********** */

    .services-section .skill {
        justify-content: space-evenly;
        padding: 0;
    }

    .services-section .skill-card {
        width: 250px;
        height: 220px;
        flex-wrap: wrap;
        text-align: center;
    }

    .services-section .skill-card {
        justify-content: center;
    }

    .services-section .skill-card .skill-content h3,
    p {
        padding: 10px 0;
    }

    .services-section .skill-card:hover {
        box-shadow: 1px 1px 3px #7540b375;
        border-bottom: 3px solid var(--hover-color);
        border-left: none;

    }

    .services-section .skill-card .fa-solid,
    .fa-python,
    .fa-js {
        font-size: 50px;
        color: var(--hover-color);
        padding: 10px;
    }

    /*
    ============================================= 
    Project Section  
    =============================================
    */

    .project-section .projects ul {
        /* border: 1px solid black; */
        gap: 20px;
    }

    .singel-project {
        height: 180px;
    }

    /*    
    ============================================= 
    Resume Section  
    =============================================
    */


    .education-block,
    .experiance-block {
        width: 100%;
    }

    .qualification {
        flex-direction: column;
        gap: 20px;
    }

    .ed-block {
        justify-content: center;
    }


    .fa-user-graduate,
    .fa-briefcase {
        font-size: 27px;
    }


    .resume-section .qualification .content {
        padding: 10px;
    }

    .resume-section .qualification .card-heading {
        font-size: 20px;
    }

    .resume-section .qualification .content::before {
        height: 62px;
        top: 20px;
        left: -8px;
    }


    .resume-section .qualification .content .card-sub-heading {
        font-size: 14px;
        padding: 5px 0;
    }

    .resume-section .qualification .content p {
        font-size: 14px;
        padding: 5px 0 1px;
    }

    .resume-section .btn-container {
        margin-top: 10px;
        padding: 10px 0;
    }

    /*
    ============================================= 
                About Section  
    =============================================
    */


    .about-me {
        flex-direction: column;
        width: 100%;
    }

    .about-section .about-me .my-intro {
        width: 100%;
        padding: 20px;
    }

    .about-me .my-intro .card-sub-heading {
        font-size: 13px;
    }

    .about-me .my-intro .intrest .hobbies {
        gap: 20px;
    }

    .about-me .my-intro .intrest span {
        font-size: 12px;
    }



    /*
    ============================================= 
                Contact Section  
    =============================================
    */

    .contact-us-section .wrapper {
        width: 95%;
        gap: 0;

    }

    .contact-us-section .map iframe {
        height: 300px;
        margin-bottom: 30px;
    }

    .contact-us-section .form-content {
        display: flex;
        flex-direction: column;
        padding: 0;
    }



    .contact-us-section .info {
        padding: 0;
        gap: 10px;
        align-items: center;
    }

    .contact-us-section .info .Singel-info {
        width: 100%;
        gap: 10px;
        flex-direction: column;
        align-items: center;
    }


    .singel-info-content {
        text-align: center;
    }

    .contact-us-section .info .socail-icons {
        gap: 20px;
    }

    .singel-info-content .card-sub-heading {
        font-size: 16px;
        padding: 0;
    }

    .singel-info-content p {
        padding: 10px 0;
        font-size: 15px;
    }

    .contact-us-section .form {
        flex-direction: column;
        width: 100%;
    }

    .contact-us-section .form .input-cells {
        flex-direction: column;
        gap: 20px;
    }

    .contact-us-section .form .input-cells input {
        width: 100%;
    }


    .contact-us-section .form .btn {
        width: 100%;
    }

    /*  ============================================= 
        Footer Section  
         =============================================
    */

    .footer {
        width: 100%;
        gap: 30px;
        flex-direction: column;
        align-items: center;
    }

    .footer ul::before,
    .footer ul::after {
        content: ' ';
        width: 150px;
        height: 1px;
        left: 0;
        background: var(--hover-color);

    }

    .footer ul {
        gap: 10px;
        flex-direction: column;
    }

}