/* ___________CUSTOME CLASSES___________ */
a {
    text-decoration: none;
    font-size: 15px;
    color: var(--secondary-color);
}

.heading {
    font-size: 40px;
    color: var(--hover-color);
    font-weight: 700;
    text-align: center;
    margin-top: 100px;
}

.span {
    color: #3f3a3a;
    padding: 0 0 5px;
    font-size: 40px;
    font-weight: 700;

}

.sub-span {
    color: #3f3a3a;
    font-size: 20px;
    font-weight: 700;

}

.card-heading {
    color: var(--hover-color);
    font-size: 18px;
}

.card-sub-heading {
    font-size: 13px;
    color: #3f3a3a;
    padding: 2px 0;
}


@media (1024px <=width <=1440px) {


    /* Navbar */

    .logo {
        margin-left: 50px;
    }

    .navbar .ul {
        gap: 35px;
        margin-left: 300px;
    }

    /*
    ============================================= 
                Intro Section  
    =============================================
    */


    .intro {
        padding: 100px 50px;
    }

    .intro .container {
        padding: 20px;
        width: 100%;
    }

    .intro .content {
        width: 60%;
        padding: 10px 0;
    }

    .intro .container h1 {
        font-size: 60px;
    }

    /*
    ============================================= 
                Service Section  
    =============================================
    */


    .services-section .extra-info {
        top: -80px;
    }

    /* *******SKILL********** */

    .services-section .skill {
        justify-content: center;

    }

    .services-section .skill-card {
        flex: 1;
        height: 250px;
        flex-wrap: wrap;
        padding: 10px 20px;
    }

    .services-section .skill-card .skill-content h3,
    p {
        padding: 10px 0;
    }

    /*
    ============================================= 
                Project Section  
    =============================================
    */

    .project-card {
        justify-content: space-around;
        width: 100%;
        margin-top: 50px;
        gap: 30px;
    }

    .singel-project {
        margin-bottom: 50px;
        height: 220px;
        width: 25%;
    }

    /*
    ============================================= 
                Contact Section  
    =============================================
    */



    .contact-us-section .info .fa-solid {
        padding: 25px;
    }

    .contact-us-section .info .socail-icons {
        gap: 20px;
    }

    .contact-us-section .form .btn {
        width: 25%;
    }


    .footer-section .sub-footer {
        background: var(--hover-color);
        text-align: center;
        padding: 1px 0;
        color: var(--primary-color);
        font-size: 12px;
    }


}

/* ___________________TABLET_____________________ */

@media (900px <=width <=1024px) {


    .navbar .ul {
        gap: 35px;
        margin-left: 150px;
    }

    /*
    ============================================= 
                Service Section  
    =============================================
    */

    .services-section .extra-info {
        top: -80px;
    }

    /* *******SKILL********** */


    .services-section .skill-card {
        width: 45%;
        flex-wrap: wrap;
        padding: 20px;
    }

    .services-section .skill-card .skill-content h3,
    p {
        padding: 10px 0;
    }

    /*
    ============================================= 
                Project Section  
    =============================================
    */

    .project-card {
        justify-content: space-around;
        width: 100%;
        margin-top: 50px;
    }

    .singel-project {
        margin-bottom: 50px;
        height: 220px;
        width: 25%;
    }


    /*
    ============================================= 
                Contact Section  
    =============================================
    */

    .contact-us-section .info .fa-solid {
        padding: 22px;
    }

    .contact-us-section .form .btn {
        width: 35%;
    }

    /*
    ============================================= 
                Footer Section  
    =============================================
    */

    .footer {
        width: 95%;
        justify-content: space-between;
    }


    .footer ul {
        gap: 20px;
    }

    .footer-section .sub-footer {
        background: var(--hover-color);
        color: var(--primary-color);
        font-size: 12px;
    }

}


/* _________________TABLET VERSION____________ */

@media (768px <=width <=900px) {
    .logo {
        margin: 0;
    }

    .navbar .ul {
        gap: 35px;
        margin-left: 100px;
    }

    .services-section .extra-info {
        top: -80px;
        border: 2px solid black;
    }

    /* *******SKILL********** */


    .services-section .skill-card {
        width: 45%;
        height: 150px;
    }

    /*
    ============================================= 
    Project Section  
    =============================================
    */

    .project-card {
        justify-content: space-between;
        width: 100%;
        border: 2px solid black;
        margin-top: 10px;
    }

    .singel-project {
        margin-bottom: 50px;
        height: 220px;
        width: 30%;
    }

    /*    
    ============================================= 
    Resume Section  
    =============================================
    */

    .resume-section {
        border: 2px solid red;
        margin-top: 20px;
    }

    .qualification {
        border: 2px solid black;
        justify-content: space-between;
        margin-top: 30px;
    }

    .fa-user-graduate,
    .fa-briefcase {
        font-size: 27px;
        color: var(--hover-color);
    }


    .resume-section .qualification .content {
        padding: 10px;
    }

    .resume-section .qualification .card-heading {
        font-size: 20px;
    }

    .resume-section .qualification .content::before {
        height: 62px;
        top: 20px;
        left: -8px;
    }


    .resume-section .qualification .content .card-sub-heading {
        font-size: 14px;
        padding: 5px 0;
    }

    .resume-section .qualification .content p {
        font-size: 14px;
        padding: 5px 0 1px;
    }

    .resume-section .btn-container {
        margin-top: 10px;
        padding: 10px 0;
    }

    /*
    ============================================= 
                About Section  
    =============================================
    */


    .about-section .about-me .image {
        flex: 1;
    }

    .about-section .about-me .my-intro {
        flex: 3;
    }

    .about-me .my-intro .personal-data {
        gap: 30px;
    }

    .about-me .my-intro .card-sub-heading {
        font-size: 16px;
    }

    .about-me .my-intro p {
        font-size: 14px;
    }

    hr {
        display: none;
    }

    /*
    ============================================= 
                Contact Section  
    =============================================
    */

    .contact-us-section .wrapper {
        width: 95%;
        gap: 0;

    }

    .contact-us-section .map iframe {
        height: 300px;
    }

    .form-content {
        justify-content: space-between;
        padding: 10px 0 !important;
        gap: 10px !important;
        margin-top: 30px;
    }



    .contact-us-section .info .Singel-info {
        padding: 0;
        gap: 10px;
    }

    .contact-us-section .info .fa-solid {
        font-size: 14px;
        margin-top: 4px;
    }


    .contact-us-section .info .socail-icons .fa-brands {
        font-size: 18px;
    }

    .contact-us-section .form .btn {
        width: 25%;
    }

    /*  ============================================= 
        Footer Section  
         =============================================
    */

    .footer {
        gap: 30px;
        flex-direction: column;
    }


    .footer ul {
        gap: 30px;
    }



}