* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



:root {
    --primary-color: #ffffff;
    --secondary-color: black;
    --borders: rgba(82, 81, 81, 0.5);
    --button-color: rgb(0, 183, 255);
    --hover-color: rgb(144, 5, 236);
    --hover-temp-color: rgb(111, 0, 185);
}

/* ___________CUSTOME CLASSES___________ */
a {
    text-decoration: none;
    font-size: 16px;
    color: var(--secondary-color);
}

.heading {
    font-size: 40px;
    color: var(--hover-color);
    font-weight: 700;
    text-align: center;
    margin-top: 100px;
}

.span {
    color: #3f3a3a;
    padding: 0 0 5px;
    font-size: 40px;
    font-weight: 700;

}

.sub-span {
    color: #3f3a3a;
    font-size: 20px;
    font-weight: 700;

}

.card-heading {
    color: var(--hover-color);
    font-size: 18px;
}

.card-sub-heading {
    font-size: 13px;
    color: #3f3a3a;
    padding: 2px 0;
}

/* __________________________________________ */


.container {
    width: 90%;
    /* border: 2px solid orange; */
    margin-inline: auto;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #fcfafa8a
}

.logo {

    margin-left: 76px;

}

.logo span:first-child {
    font-size: 40px;
    font-weight: 700;
    color: var(--hover-color);
}



.navbar {
    border-bottom: 1px solid var(--borders);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 40px;
    /* border: 2px solid red; */

}

.navbar .ul {
    list-style: none;
    display: flex;
    gap: 80px;
    /* border: 2px solid green; */
}

a:hover {
    color: var(--hover-color);
}

.active {
    color: var(--hover-color);
}

/* _______________________________________ */


/*
============================================= 
               Intro Section  
=============================================
*/

.intro {
    padding: 100px 50px;
    /* border: 2px solid red; */
}

.intro .container {
    display: flex;
    justify-content: space-between;

}

.intro .container p:first-child {
    color: #3f3a3a;
    font-weight: 500;
    font-size: 20px;
}

.intro .container h1 {
    padding: 0 0 5px;
    font-size: 55px;
    font-weight: 800;
    color: var(--hover-color);
}

.intro .container .parag {
    color: rgb(90, 89, 89);
    padding: 10px 0 20px;
}

.intro .container span {
    color: rgb(56, 54, 54);
}

.intro .container .btn {
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    background: var(--hover-color);
    color: var(--primary-color);
}

.intro .container .btn:hover {
    background-color: var(--hover-temp-color);
}

/* .intro .container .image {
    border: 2px solid red;
} */

/*
============================================= 
               Service Section  
=============================================
*/

.services-section {
    /* border-top: 1px solid black; */
    padding: 100px 0;
    position: relative;
    margin: 50px 0 0 0;
}




/* *******EXTRA INFORMATION********** */

.services-section .extra-info {
    position: absolute;
    display: flex;
    justify-content: space-around;
    top: -50px;
    left: 65px;
    align-items: center;
    padding: 45px;
    /* border: 1px solid gray; */
    box-shadow: 1px 1px 5px 1px #746f6f98;
    /* border-radius: 60px; */
}

.services-section .singel-info {
    display: flex;
    align-items: center;
}

.services-section .singel-info .fa-solid {
    border: 2px solid var(--hover-color);
    font-size: 20px;
    color: var(--hover-color);
    border-radius: 50%;
    padding: 10px;
}

.services-section .singel-info .job-experiance {
    /* border: 2px solid red; */
    padding: 10px 15px;
}


/* *******SKILL********** */

.services-section .skill {
    margin-top: 50px;
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 40px;

}

.services-section .skill-card {
    padding: 20px;
    display: flex;
    align-items: center;
    background-color: var(--primary-color);
    /* border-radius: 10px; */
    transition: 0.1s ease-in;
    cursor: pointer;
    border: 3px solid #fff;
}

.services-section .skill-card:hover {
    box-shadow: 1px 1px 3px #7540b375;
    box-shadow: 1px 1px 3px #7540b375;
    border-left: 3px solid var(--hover-color);

}

.services-section .skill-card .fa-solid,
.fa-python,
.fa-js {
    font-size: 40px;
    color: var(--hover-color);
    padding: 25px;
}

/*
============================================= 
               Project Section  
=============================================
*/



.project-section .projects ul {
    /* border: 1px solid black; */
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 30px 0;
    margin-top: 30px;
}

.project-section .projects ul a {
    font-weight: 700;
    color: #3f3a3a;
    position: relative;

}

.project-section .projects .active {
    color: var(--hover-color);
}

.project-section .projects ul a:hover {
    color: var(--hover-color);
}


.project-section .projects ul a::before {
    content: ' ';
    width: 0;
    height: 3px;
    background-color: #3f3a3a;
    position: absolute;
    bottom: -8px;
    transition: 0.3s ease-in;
}

.project-section .projects ul a:hover::before {
    background-color: var(--hover-color);
    width: 100%;
    height: 3px;
    color: var(--hover-color);

}

.project-card {
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    /* padding: 30px; */
    justify-content: center;
    width: 80%;
    margin-inline: auto;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 70px;
}

.singel-project {
    /* border: 2px solid red; */
    border-radius: 10px;
    width: 300px;
    height: 250px;
}

.singel-project img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scaleZ(1.2x);
    transition: 0.2s ease-in;
}

.singel-project img:hover {
    transform: scale(0.911);
}

/*
============================================= 
               Resume Section  
=============================================
*/

.resume-section {
    /* border: 2px solid red; */
    margin-top: 50px;
}

.qualification {
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
}
.fa-user-graduate, .fa-briefcase {
    font-size: 30px;
    color: var(--hover-color);
}
.ed-block {

    display: flex;
    align-items: center;
}

.resume-section .qualification .content {
    padding: 20px;
    position: relative;
}

.resume-section .qualification .card-heading {
    color: #292828;
    font-size: 30px;
    padding: 10px ;
}

.resume-section .qualification .content::before {
    content: ' ';
    width: 3px;
    height: 58px;
    background-color: var(--hover-color);
    position: absolute;
    top: 32px;
    left: -10px;
}

.resume-section .qualification .content .card-sub-heading {
    font-size: 16px;
    padding: 5px 0;
}


.resume-section .qualification .content span {
    font-size: 12px;
    color: var(--hover-color);
    font-weight: 700;
    margin: 100px 0;
}

.resume-section .btn-container {
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    /* margin-top: 30px; */
    padding: 50px 0 0;
}

.resume-section .btn {
    padding: 12px;
    border: none;
    border-radius: 3px;
    font-weight: 600;
    color: var(--primary-color);
    background-color: var(--hover-color);
    cursor: pointer;
}

.resume-section .btn:hover {
    background-color: var(--hover-temp-color);
}



hr {
    margin-top: 100px;
    color: red;
    width: 2px;
    background-color: var(--hover-color);
}

/*
============================================= 
               About Section  
=============================================
*/



.about-section .about-me {
    margin: 20px auto 0;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    gap: 130px;
}


.about-section .about-me .image {
    border: 2px solid orange;
}

.about-section .about-me .my-intro {
    width: 40%;
}

.about-me .my-intro .card-heading {
    font-size: 25px;
    font-weight: 500;
    color: var(--hover-color);
    padding: 10px 0;
}

.about-me .my-intro .personal-data {
    /* border: 2px solid black; */
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 50px;
}

.about-me .my-intro .card-sub-heading {
    font-size: 17px;
}

.about-me .my-intro .intrest {

    margin-top: 20px;
    padding-bottom: 20px;
}
.about-me .my-intro .intrest i{
    color: var(--hover-color);
}


.about-me .my-intro .intrest .hobbies {
    padding: 5px 0;
    display: flex;
    gap: 30px;
}

.about-me .my-intro .intrest span {
    font-size: 15px;
    font-weight: 600;
    color: #3f3a3a;
}

/*
============================================= 
               Contact Section  
=============================================
*/

.contact-us-section {
    border: 2px solid black;
}

.wrapper {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    gap: 20px;
    border: 2px solid red;
}

.map  iframe{
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
}

.form .input-cells {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}

.form .input-cells input {
    padding: 12px ;
    outline: none;
    width: 90%;
    color: #6b6969;
    font-size: 13px;
    border: 1px solid #ebe9e9;
    transition: 0.2s ease-in-out;
}

.form .input-cells input:focus,
textarea:focus {
    /* border: 1px solid var(--hover-color); */
    box-shadow: 0 0 1px 1px rgba(137, 3, 179, 0.61);
    /* outline: 1px solid rebeccapurple; */
}

textarea {
    width: 100%;
    /* height: auto; */
    margin-top: 30px;
    padding: 10px;
    font-size: 17px;
    outline: none;
    border: 1px solid  #ebe9e9;
    color: #6b6969;
    transition: 0.2s ease-in-out;
}

.form .btn {
    color: var(--primary-color);
    background-color: var(--hover-color);
    border-radius: 2px;
    border: none;
    padding: 12px;
    width: 18%;
    margin: 10px 0;
    float: right;
}

.form .btn:hover {
    background-color: var(--hover-temp-color);
    cursor: pointer;

}