* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



:root {
    --primary-color: #ffffff;
    --secondary-color: black;
    --borders: rgba(82, 81, 81, 0.5);
    --button-color: rgb(0, 183, 255);
    --hover-color: rgb(144, 5, 236);
}

a {
    text-decoration: none;
    font-size: 16px;
    color: var(--secondary-color);
}

.container {
    width: 90%;
    /* border: 2px solid orange; */
    margin-inline: auto;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #fcfafa8a        
}

.logo {
    /* border: 2px solid var(--hover-color); */
    margin-left: 76px;

}

.logo span:first-child {
    font-size: 40px;
    font-weight: 700;
    color: var(--hover-color);
}



.navbar {
    /* border-bottom: 1px solid var(--borders); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 40px;
    /* border: 2px solid red; */

}

.navbar .ul {
    list-style: none;
    display: flex;
    gap: 80px;
}

a:hover {
    color: var(--hover-color);
}

/* _______________________________________ */


/*
============================================= 
               Intro Section  
=============================================
*/

.intro {
    border-top: 1px solid var(--hover-color);
    padding: 100px 50px;
    /* text-align: center; */

}


.intro .container p:first-child {
    color: #3f3a3a;
    font-weight: 500;
    font-size: 20px;
}

.intro .container h1 {
    padding: 0 0 5px;
    font-size: 55px;
    /* border: 2px solid red; */
    font-weight: 800;
    color: var(--hover-color);
}

.intro .container .parag {
    color: rgb(90, 89, 89);
    padding: 10px 0 20px;
}

.intro .container span {
    color: rgb(56, 54, 54);
}

.intro .container .btn {
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    background: var(--hover-color);
    color: var(--primary-color);
}

.intro .container .btn:hover {
    background-color: var(--hover-color);
}